  $light-coral : rgb(255, 170, 59);
  $dark-coral: rgb(255, 153, 80);
  //authentication
.auth{
    background: linear-gradient(
        rgba(4, 1, 0, 0.908), 
        rgba(12, 1, 1, 0.748)
      ), url('../assets/img/bg.jpeg');
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;

h1{
    margin-bottom: 20px;
    color: rgb(251, 247, 243);
}



form{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;

    input{
        padding: 10px;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 5px;
    }
    button{
        padding: 10px;
        border: none;
        background-color: $dark-coral;
        color: white;
        cursor: pointer;
    
    }
    span{
        font-size: 14px;
        text-align: center;
        a{
            color: $dark-coral;
            text-decoration: none;
        }
    }
}
}
.app{

    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
      
        a{
            text-decoration: none;
            color: inherit;
            
        }
    .link{
        text-decoration: none;
        color: inherit;
        
    }
   
    .offensive{
        color: #f44250;
    }
    //navigation
    .navbar{
        hr{
            border: 0.08px solid #cbcaca;
        }
        .container{
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        .links{
            display: flex;
            align-items: center;
            gap: 10px;
            .link{
                color: #818181;
            }
        }
        .logo{
            padding-top: 10px;
            height: 50px;
        }

        .create{
            color: $light-coral;

            &:hover{
                color: teal;
                font-size: 30px;
            }
        }
        span{
            cursor: pointer;
            //color: #4f4d4d;
            color: #12ade2;
           
        }
        h5{
            color: #6b6969;
            font-weight: 900;
            font-size: 16px;
            text-transform: capitalize;
            .offensive{
                color: #f44250;
            }
        }
        h6{
            color: #6b6969;
            font-weight: 400;
            font-size: 16px;
            text-transform: capitalize;
            .offensive{
                color: #f44250;
            }
        }
    }
    }

    //Home
    .home{
        .posts{
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 150px;
            .post{
                display: flex;
                gap: 100px;

                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }
                .img{
                    flex: 2;
                    position: relative;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: #12aee285;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;
                    }
                    img{
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                    }
                }
                .content{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                   
                   button{
                    width: max-content;
                    background-color: $light-coral;
                    border: none;
                    color: #ffffff;
                    padding: 10px 20px;
                    cursor: pointer;
                   }
                }
            }
        }
    }



    //footer
    .footer{
        .logo{
            height: 30px;
        }
        background-color: #e3e3e3;
        margin-top: 100px;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    
}
}